/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: sans-serif;
  height: 100vh;
}
/* 
app-root {
  display: flex;
  justify-content: space-between;
  height: 100%;
} */